:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --title-bgc: #2F303A;
    --secondary-bgc: #F5F4FA;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --contract-color: rgba(255, 255, 255, 0.6);
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-box,
.footer {
    background-color: var(--title-bgc);
}

.centered {
    text-align: center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* ===========Лого=========== */

.logo-up,
.logo-under,
.logo-first-word {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-under {
    color: var(--primary-white-color);
}

.logo-up {
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 93px;
}

.logo-first-word,
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}


/* ===========Навигация сайта=========== */

.header {
    border: 1px solid #ECECEC;
}

.nav {
    display: flex;
}

.sitenav {
    display: flex;
    align-items: center;
}

.sitenav-links,
.contacts {
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-link,
.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}

.nav-link {
    position: relative;
    transition: color 250ms var(--animation-timing-function);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 0 2px;
    background-color: var(--accent-color);
    /* opacity: 0; */
    transform: scale(0);
    transition: transform 250ms var(--animation-timing-function);
}

.nav-link:hover::after,
.nav-link:focus::after {
    /* opacity: 1; */
    transform: scale(1);
}

.nav-link.active {
    color: var(--accent-color);
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 0 2px;
    background-color: var(--accent-color);
    transform: scale(1);
}

.contacts {
    margin-left: auto;
}

.contacts-link {
    display: flex;
    justify-content: center;
    fill: var(--primary-text-color);
}

.contacts-icon {
    fill: currentColor;
    margin-right: 10px;
}

.nav-item {
    margin-left: auto;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contacts-link {
    color: var(--primary-text-color);
    transition: color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
}

.nav-item:not(:last-child),
.contact-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
    fill: var(--accent-color);
}


/* ===========Герой=========== */

.hero-box {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-box.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-hero {
    display: inline-block;
    border: transparent;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--animation-timing-function);
}

.button-hero:hover,
.button-hero:focus {
    cursor: pointer;
    background-color: #1b71b8;
}


/* ----------Модалка------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 1;
    /* visibility: visible; */
    transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
    /* z-index: 1; */
}


/* когда показана */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    /* visibility: hidden; */
}


/* когда скрыта */

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: 1; */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--animation-timing-function);
    min-height: 581px;
    min-width: 528px;
    padding: 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms var(--animation-timing-function);
}

.modal-close:hover {
    fill: var(--accent-color);
}

.modal-cross {
    color: #000000;
    align-items: center;
    justify-content: center;
    transition: color 250ms var(--animation-timing-function);
}

.modal-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.modal-form {
    margin-top: 12px;
}

.form-input-box {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.form-input,
.form-message {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    padding: 0 10px 0 35px;
}

.form-input:focus,
.form-message:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.form-input:focus~.form-input-icon {
    fill: var(--accent-color);
}

.form-message {
    display: block;
    font-family: inherit;
    resize: none;
    height: 120px;
    padding: 12px 16px;
}

.form-message::placeholder {
    color: rgba(117, 117, 117, 0, 5);
}

.form-input-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 18px;
    height: 18px;
    color: var(--title-text-color);
    transition: border 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
}

.policy-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* align-items: center; */
    width: 100%;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.policy-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    /* transition: background-image 250ms var(--animation-timing-function); */
}

.icon-check {
    width: 16px;
    height: 16px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 10px;
    background-color: var(--primary-white-color);
    /* background-image: url("../images/no-chek.svg");
    background-position: center;
    background-size: contain; */
}


/* .check-svg {
    fill: var(--primary-white-color);
} */

.policy-checkbox:checked+.icon-check {
    /* background-image: url("../images/icon-check.svg");
    background-position: center;
    background-size: contain; */
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
}

.policy-box a {
    color: var(--accent-color);
    text-decoration: underline;
}

.form-submit {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    height: 50px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function);
}

.form-submit:hover,
.form-submit:focus {
    cursor: pointer;
    background-color: #1b71b8;
    box-shadow: var(--box-shadow);
}


/* ===========Преимущества/Работы/Команда=========== */

.section {
    padding: 94px 0;
}

.benefits-list,
.work-list,
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-main-title,
.work-title,
.team-main-title,
.title-team,
.client-title {
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}

.team-main-title,
.benefits-main-title,
.work-title,
.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.text-benefits,
.text-team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* ===========Преимущества=========== */

.benefits-main-title {
    margin-top: 0;
    margin-bottom: 0;
}

.benefits-item {
    width: 270px;
}

.benefits-item+.benefits-item {
    margin-left: 30px;
}

.icon-div-benefits {
    display: flex;
    content: "";
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bgc);
    border-radius: 4px;
    fill: var(--title-text-color);
}

.icon-benefits {
    display: flex;
    width: 70px;
    height: 70px;
    fill: var(--title-text-color);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

.title-benefits {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
}

.text-benefits {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    max-width: 270px;
}


/* ===========Работы=========== */

.works-section {
    padding-top: 0;
}

.work-item+.work-item {
    margin-left: 30px;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.work-item {
    position: relative;
}

.work-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-transform: uppercase;
}


/* ===========Команда=========== */

.team-section {
    background: var(--secondary-bgc);
}

.team-main-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-item {
    width: 270px;
    background-color: var(--primary-white-color);
}

.team-item+.team-item {
    margin-left: 30px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-team-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title-team,
.text-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.title-team {
    margin-bottom: 10px;
}

.text-team {
    font-weight: 400;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}

.social-link:hover,
.social-link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.icon-team-item:not(:last-child) {
    margin-right: 10px;
}

.link-svg {
    display: flex;
    fill: currentColor;
    width: 20px;
    height: 20px;
}


/* ===========Постоянные клиенты=========== */

.client-title {
    margin-bottom: 50px;
}

.item-client {
    display: flex;
    content: "";
    justify-content: center;
    align-items: center;
}

.item-client:not(:last-child) {
    margin-right: 30px;
}

.link-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-color: #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function);
}

.link-client:hover,
.link-client:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.icon-client {
    fill: currentColor;
}


/* ===========Подвал=========== */

.footer {
    padding: 60px 0;
}

.footer-container {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
}

.footer-content {
    margin-right: 70px;
}

.address-footer,
.contact-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    text-decoration-style: none;
}

.footer-list {
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-footer {
    color: var(--primary-white-color);
}

.contact-footer {
    color: var(--contract-color);
}

.footer-title {
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.icon-footer-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);
    transition: background-color 250ms var(--animation-timing-function);
}

.footer-link:hover,
.footer-link:focus {
    cursor: pointer;
    background-color: var(--accent-color);
}

.icon-footer-item:not(:last-child) {
    margin-right: 10px;
}

.footer-link-svg {
    display: flex;
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.form-email-submit {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 93px;
}

.submit-email-box {
    display: block;
    width: 358px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.form-email {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--title-bgc);
}

.form-email::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    /* background: var(--title-bgc); */
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--animation-timing-function);
}

.button-submit:hover,
.button-submit:focus {
    background-color: #1b71b8;
}

.icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primary-white-color);
    background-origin: border-box;
}


/* PORTFOLIO */

.button-links,
.button-links:hover,
.button-links:focus {
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.button-links {
    border: transparent;
    color: var(--title-text-color);
    background-color: var(--secondary-bgc);
    transition: color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function);
}

.button-links:hover,
.button-links:focus {
    cursor: pointer;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Проекты */

.links {
    margin-bottom: 50px;
}

.project-btn-flex {
    display: flex;
    justify-content: center;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project-item {
    /* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов встроке) */
    /* width: calc((100%-60px)/3); */
    /* margin: 15px; */
    margin-right: 30px;
}

.project-link:hover .project-description-text,
.project-link:focus .project-description-text {
    transform: translateY(0);
}

.project-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--animation-timing-function);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-description {
    overflow: hidden;
    position: relative;
}

.project-description-text {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--animation-timing-function) 250ms;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.project-description:hover,
.project-description:focus {
    transform: translateY(0);
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.proj-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.projects-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.projects-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}