.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.item-client {
  display: flex;
  content: '';
  justify-content: center;
  align-items: center;
}

.item-client:not(:last-child) {
  margin-right: 30px;
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--animation-timing-function),
    border-color 250ms var(--animation-timing-function);
}

.link-client:hover,
.link-client:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-client {
  fill: currentColor;
}
