/* ===========Logo=========== */

.logo-up,
.logo-under {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-up {
  color: #000000;

  .logo-up__first-word {
    color: var(--accent-color);
  }
}

.logo-under {
  color: var(--primary-white-color);
}

.header__logo-up {
  display: flex;
  align-items: center;
  margin-right: 93px;
}
